body {
  background-image:
    linear-gradient(
      rgba(255,255,255,0.75),
      rgba(255,255,255,0.75)
    ),
    url("/assets/img/scream.jpg");

  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
