---
---

@import "minima";

body {
  background-image:
    linear-gradient(
      rgba(255, 192, 203, 0.7),
      rgba(255, 192, 203, 0.7)
    ),
    url("/assets/img/scream.jpg");

  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
